.navigator-list
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    width: 80vw;
}
.navigator-sublist
{
    flex-direction: column;
}
.navigator-item
{
    margin-left: 4vw;
    font-size: 1.5em;
}
.active
{
    background-color: cornflowerblue;
    color: aliceblue;
    font-size: 1.6em;
}